

<!doctype html>
<html class="no-js" lang="zxx">



<body>



    <div class="body-wrapper">



        <div class="breadcrumb-area">
            <div class="container">
                <div class="breadcrumb-content">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li class="active">Login Register</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="page-section mb-60">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-xs-12 col-lg-6 mb-30">
                        @using (Html.BeginForm("ChangePass", "Account", FormMethod.Post))
                        {
                            @*<form action="/ChangePass" method="post">*@
                            <div class="login-form">
                                <h4 class="login-title">Change Pass</h4>
                                <div class="row">
                                    <div class="col-md-12 col-12 mb-20">
                                        <label>Email Address</label>
                                        <input class="mb-0" type="email" placeholder="Email Address" name="email">
                                    </div>
                                    <div class="col-md-12 col-12 mb-20">
                                        <label>Old Password</label>
                                        <input class="mb-0" type="password" placeholder="Old Password" name="password">
                                    </div>
                                    <div class="col-12 mb-20">
                                        <label>New Password</label>
                                        <input class="mb-0" type="password" placeholder="New Password" name="newpass">
                                    </div>
                                    <div class="col-12 mb-20">
                                        <label>Confirm New Password</label>
                                        <input class="mb-0" type="password" placeholder="Confirm New Password" name="renewpass">
                                    </div>

                                    <div class="col-md-12">
                                        <button class="register-button mt-0">Save</button>
                                    </div>
                                    <p style="color:red">@ViewBag.err</p>

                                </div>
                            </div>
                            @*</form>*@
                        }
                    </div>
                </div>
            </div>
        </div>

    </div>


</body>


</html>


