create database  [LAPTOP_ASP]
USE [LAPTOP_ASP]
GO
/****** Object:  Table [dbo].[category]    Script Date: 11/8/2021 3:58:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[category](
	[id_cat] [int] IDENTITY(1,1) NOT NULL,
	[name_cat] [varchar](255) NULL,
	[describe] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_cat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 11/8/2021 3:58:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[date] [date] NOT NULL,
	[cid] [int] NOT NULL,
	[status] [int] NULL,
	[totalmoney] [money] NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderLine]    Script Date: 11/8/2021 3:58:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderLine](
	[oid] [int] NOT NULL,
	[pid] [int] NOT NULL,
	[quantity] [float] NOT NULL,
	[price] [float] NOT NULL,
	[FirstName] [varchar](255) NULL,
	[LastName] [varchar](255) NULL,
	[Phone] [varchar](255) NULL,
	[Address] [varchar](255) NULL,
 CONSTRAINT [PK_OrderLine] PRIMARY KEY CLUSTERED 
(
	[oid] ASC,
	[pid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product]    Script Date: 11/8/2021 3:58:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product](
	[id_pro] [int] IDENTITY(1,1) NOT NULL,
	[id_cat] [int] NULL,
	[name_pro] [varchar](255) NULL,
	[images] [varchar](255) NULL,
	[quantity] [int] NULL,
	[price] [float] NULL,
	[supplier] [varchar](255) NULL,
	[infor] [varchar](255) NULL,
	[sell_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_pro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user]    Script Date: 11/8/2021 3:58:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user](
	[id_user] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](255) NULL,
	[password] [varchar](255) NULL,
	[dob] [date] NULL,
	[gender] [varchar](255) NULL,
	[email] [varchar](255) NULL,
	[phone] [varchar](255) NULL,
	[address] [varchar](255) NULL,
	[role] [varchar](255) NULL,
	[Block] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_user] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_access]    Script Date: 11/8/2021 3:58:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_access](
	[id] [int] NOT NULL,
	[id_user] [int] NOT NULL,
	[date_access] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[category] ON 

INSERT [dbo].[category] ([id_cat], [name_cat], [describe]) VALUES (1, N'MACBOOK', N'LapTop')
INSERT [dbo].[category] ([id_cat], [name_cat], [describe]) VALUES (2, N'ASUS', N'LapTop')
INSERT [dbo].[category] ([id_cat], [name_cat], [describe]) VALUES (3, N'DELL', N'LapTop')
SET IDENTITY_INSERT [dbo].[category] OFF
GO
SET IDENTITY_INSERT [dbo].[product] ON 

INSERT [dbo].[product] ([id_pro], [id_cat], [name_pro], [images], [quantity], [price], [supplier], [infor], [sell_ID]) VALUES (1001, 2, N'AL210', N'../../images/as1.jpg', 1, 300, N'Microsoft', N' HD Display, Intel Celeron N4020 Processor, 4GB RAM, 64GB Storage, NumberPad, Windows 10 Home in S Mode
', 664)
INSERT [dbo].[product] ([id_pro], [id_cat], [name_pro], [images], [quantity], [price], [supplier], [infor], [sell_ID]) VALUES (1002, 3, N'Inspiron 15', N'../../images\d1.jpg', 0, 499, N'Amazon', N'15.6 Inch HD Non Touch Display 1TB HDD Quad-Core i5 (8GB RAM, i5-1035G1 Up to 3.6GHz, HDMI, Windows 10 Home) Black', 664)
INSERT [dbo].[product] ([id_pro], [id_cat], [name_pro], [images], [quantity], [price], [supplier], [infor], [sell_ID]) VALUES (1003, 2, N'J97D3', N'https://cdn.vox-cdn.com/thumbor/JzO4RB-vfVtQUVew_a9DdL_VxBI=/0x0:2080x1408/1200x800/filters:focal(865x525:1197x857)/cdn.vox-cdn.com/uploads/chorus_image/image/65168922/asus300hz.0.jpg', 1, 1000, N'FPT', N'Nice', 14)
SET IDENTITY_INSERT [dbo].[product] OFF
GO
SET IDENTITY_INSERT [dbo].[user] ON 

INSERT [dbo].[user] ([id_user], [username], [password], [dob], [gender], [email], [phone], [address], [role], [Block]) VALUES (13, N'duc', N'123', CAST(N'2000-01-04' AS Date), N'Male', N'duc123@gmail.com', N'0323473641', N'Bac Ninh', N'2', 0)
INSERT [dbo].[user] ([id_user], [username], [password], [dob], [gender], [email], [phone], [address], [role], [Block]) VALUES (14, N'linh', N'123', CAST(N'1997-02-04' AS Date), N'Female', N'linhntHE141623@gmail.com', N'0383437423', N'Hung Yen-My Hao', N'1', 0)
INSERT [dbo].[user] ([id_user], [username], [password], [dob], [gender], [email], [phone], [address], [role], [Block]) VALUES (17, N'trang', N'456', CAST(N'2001-05-12' AS Date), N'Female', N'trangnv2@gmail.com', N'0247634632', N'Quang Ninh', N'1', 0)
SET IDENTITY_INSERT [dbo].[user] OFF
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Customer] FOREIGN KEY([cid])
REFERENCES [dbo].[user] ([id_user])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Customer]
GO
ALTER TABLE [dbo].[OrderLine]  WITH CHECK ADD  CONSTRAINT [FK_OrderLine_Order] FOREIGN KEY([oid])
REFERENCES [dbo].[Order] ([id])
GO
ALTER TABLE [dbo].[OrderLine] CHECK CONSTRAINT [FK_OrderLine_Order]
GO
ALTER TABLE [dbo].[OrderLine]  WITH CHECK ADD  CONSTRAINT [FK_OrderLine_Product] FOREIGN KEY([pid])
REFERENCES [dbo].[product] ([id_pro])
GO
ALTER TABLE [dbo].[OrderLine] CHECK CONSTRAINT [FK_OrderLine_Product]
GO
ALTER TABLE [dbo].[product]  WITH CHECK ADD FOREIGN KEY([id_cat])
REFERENCES [dbo].[category] ([id_cat])
GO
ALTER TABLE [dbo].[User_access]  WITH CHECK ADD  CONSTRAINT [FK_useraccess_user] FOREIGN KEY([id_user])
REFERENCES [dbo].[user] ([id_user])
GO
ALTER TABLE [dbo].[User_access] CHECK CONSTRAINT [FK_useraccess_user]
GO
